@import 'styleguide';
.logo {
    height: 60px;
    width: 150px;
    align-self: start;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.3, 1.3);
}

.average-rating {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 12%;
    border-top: 3px solid;
}

.article-main-part {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 5% 50px 5%;
}

.review-container {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 5% 50px 5%;
}

.read-review {
    min-width: 350px;
    max-height: 550px;
    width: 40%;
    overflow-y: scroll;
    border: $default-border;
    padding: 30px;
}

.add-review {
    min-width: 350px;
    width: 40%;
    display: flex;
    align-content: stretch;
}

#review {
    height: 350px;
    min-width: 350px;
}

.fas {
    color: orange;
}

.article-page-txt {
    width: 100%;
    font-family: $font-text;
    text-align: left;
    padding: 20px;
    box-shadow: $box-shadow;
    border-radius: 10px;
}

.article-page-function-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    box-shadow: $box-shadow;
    border: $default-border;
    border-radius: 10px;
    margin: 50px 5% 50px 5%;
}

.map-container {
    min-width: 200px;
    width: 100%;
    border: 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    min-height: 300px;
    min-width: 250px;
}

.travel-cost {
    width: 400px;
    border: 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Travel options */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 100%;
    overflow: auto;
    box-shadow: $box-shadow;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/* Carouse without Bootstrap */

* {
    box-sizing: content-box;
}

.carouse-container {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    max-height: 850px;
}

.imgSlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: $primary-color;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        max-width: 1600px;
        margin: auto;
    }
    .article-main-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 50px 10% 50px 10%;
        padding: 20px;
    }
    .article-page-txt {
        display: flex;
        padding: 50px;
        margin-right: 100px;
        width: 50%;
        margin: 0px 0px 0px 0px;
    }
    .article-page-function-container {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        width: 35%;
        border: $border-color;
        margin: 0px 0px 0px 0px;
    }
    .review-container {
        display: flex;
        margin: 50px 10% 50px 10%;
        display: flex;
        flex-wrap: row wrap;
        justify-content: space-between;
    }
    #map {
        height: 400px;
        min-width: 200px;
        width: 100%;
    }
    /* body {
        background-color: red;
    } */
}