/* Heroe style*/

.heroe {
    height: 800px;
    text-align: center;
    background-image: url(https://d12dkjq56sjcos.cloudfront.net/pub/media/wysiwyg/budapest/01-city-landing/BBT-Budapest-City-Landing-Night-View.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Filter and item cards*/

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgb(245, 227, 227);
}

.card {
    box-shadow: silver 1 4px 8px 0;
    max-width: 400px;
    padding: 12px;
    text-align: center;
    font-family: Helvetica;
    border-radius: 10px;
}

.card button {
    border: none;
    outline: 1px;
    padding: 6px;
    width: 100%;
    font-size: 16px;
    color: snow;
    background-color: rgb(212, 199, 182);
    text-align: center;
    cursor: pointer;
    align-self: center;
}

.card button:hover {
    opacity: 0.7;
}

.filterBar {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: row wrap;
    color: yellowgreen;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.show {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 12px 16px;
    border: none;
    outline: antiquewhite;
    background-color: beige;
}

.btn:hover {
    background-color: cornflowerblue;
}

.btn.active {
    background-color: cyan;
    color: black;
}


/* Rewiw section */

.fas {
    color: orange;
}

.review {
    height: 250px;
    width: 300px;
}

input[type=text],
textarea {
    padding: 12px;
    border: plum solid 1px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@media only screen and (min-width: 768px) {
    .card button {
        width: 180px;
        font-size: 18px;
        padding: 12px;
    }
    .card {
        margin: 50px;
        transition: transform .2s;
    }
    .card-container {
        margin: 100px;
    }
    .card:hover {
        transform: scale(1.3);
    }
    .filterBar {
        margin-left: 50px;
        margin-right: 50px;
    }
}