.hero{
  height: 80vh;
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: cover; 
  background-image: url(/assets/bg.png);
}
.category {
  display: none;
/* elements hidden by default */
}
.show {
  display: block;
/* Class is added to the filtered elements */
}
/* Add a dark background to the active button */
.btn.active {
  background-color: #E53E3E;
  border-color: #E53E3E;
  color: white;
}
.btn.active:hover {
  color: #fff;
}