/* Global styles and variables */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  color: #293241;
  letter-spacing: 0.02em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #293241;
  letter-spacing: 0.02em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #293241;
  letter-spacing: 0.02em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #293241;
  letter-spacing: 0.02em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

strong {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #293241;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #293241;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #D3D3D3;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

.btn__main {
  font-weight: 700;
  font-size: 1.125rem;
  background-color: #EE6C4D;
  border: 1px solid #EE6C4D;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn__main:hover {
  border-color: #EA461E;
  background-color: #EA461E;
  color: white;
}

.btn__main:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn__secondary {
  font-weight: 400;
  font-size: 1.125rem;
  background-color: white;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: inset 0 1px 0 #e6e6e6, 0 1px 3px #b3b3b3;
          box-shadow: inset 0 1px 0 #e6e6e6, 0 1px 3px #b3b3b3;
  color: #293241;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn__secondary:hover {
  border-color: #EE6C4D;
  -webkit-box-shadow: inset 0 1px 0 #f0795c, 0 1px 3px #999999;
          box-shadow: inset 0 1px 0 #f0795c, 0 1px 3px #999999;
  background-color: #EE6C4D;
  color: white;
}

.btn__secondary:active {
  -webkit-box-shadow: inset 0 1px 0 #f0795c, 0 0px 0px #999999;
          box-shadow: inset 0 1px 0 #f0795c, 0 0px 0px #999999;
}

.btn {
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #cdcdcd;
  color: #293241;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 9999px;
}

.btn:hover {
  border-color: #EE6C4D;
  color: #EE6C4D;
}

.tag {
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  color: #3D5A80;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 9999px;
  margin-right: 10px;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #EE6C4D;
  font-weight: 400;
}

a:hover {
  color: #EA461E;
}

/* ------------------------------------- */
/* Styleguide local styles and variables */
.sg-wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.sg-container {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.sg-container .sg-headline {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  color: #000;
}

.sg-container .sg-title {
  font-family: "Montserrat", sans-serif;
  color: #D3D3D3;
}

.sg-container hr {
  border: 1px solid #D3D3D3;
  margin-bottom: 60px;
}

.card__100 {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card__200 {
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.card__300 {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card__400 {
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
}

.card__500 {
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

footer {
  border-top: 1px solid #cdcdcd;
  padding: 4rem 1rem 4rem 1rem;
  margin-top: 4rem;
}

footer .footer-wrapper {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-wrapper .footer-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin-right: 4rem;
}

footer .footer-wrapper .footer-brand .footer-img {
  width: 8rem;
  margin-bottom: 1rem;
}

footer .footer-wrapper .footer-list ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

footer .footer-wrapper .footer-list ul li {
  margin-bottom: .5rem;
}

/* Navigation */
.navbar {
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar a {
  display: none;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: #EE6C4D;
  font-family: "Roboto", sans-serif;
}

.navbar a:first-child {
  display: block;
  max-width: 120px;
}

.navbar a.icon {
  float: right;
  display: block;
  text-align: center;
  position: absolute;
  top: 1.2rem;
  right: .8rem;
}

.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
  line-height: 2rem;
}

.logo {
  height: 60px;
  width: 120px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
  }
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
  }
  .navbar a.icon {
    display: none;
  }
}

body {
  margin: 0px;
}

/* hero */
.hero {
  background-image: url(/assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 80%;
}

.hero .hero-inner {
  max-width: 1200px;
  padding: 2rem 1rem 4rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero-img {
  width: 8rem;
}

.hero .hero-title {
  max-width: 800px;
}

.hero .hero-title h1 {
  color: #fff;
}

.hero .hero-title .hero-text {
  max-width: 650px;
  margin-bottom: 3rem;
}

.hero .hero-title .hero-text p {
  color: #fff;
}

/* filter  */
#filter {
  max-width: 1200px;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

#filter .filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
}

#filter .filter-wrapper .filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#filter .filter-wrapper .filter-btn .btn {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

#filter .filter-wrapper .filter-btn .btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #5e9ed6;
          box-shadow: 0 0 0 2px #5e9ed6;
}

#filter .filter-wrapper .filter-btn .btn.active {
  color: #fff;
  background-color: #EE6C4D;
  border-color: #EE6C4D;
}

#filter .filter-wrapper .filter-btn .btn.active:hover {
  border-color: #EA461E;
  background-color: #EA461E;
}

#filter .filter-wrapper .filter-dropdown {
  margin-top: 1rem;
}

#filter .filter-wrapper .filter-dropdown .dropdown {
  display: block;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: "Roboto", sans-serif;
  padding: 0.5rem 2rem 0.5rem 1rem;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fff));
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

/* cards */
#cardlist {
  max-width: 1200px;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: flex-start;
      flex-direction: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.category {
  max-width: 24rem;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  /* footer */
}

.category .card-img {
  width: 100%;
  max-height: 12rem;
}

.category .card-body {
  padding: 1.5rem;
}

.category .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category .card-row .card-row-rank {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #cdcdcd;
}

.category .card-row .card-row-rank .rank-img {
  height: .9rem;
  padding-right: 10px;
}

.category .card-row .card-row-time {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #cdcdcd;
}

.category .card-cta {
  padding: 1rem 0rem 1rem 0rem;
}

.category footer {
  border-top: 1px solid #cdcdcd;
  padding: 4rem 1rem 4rem 1rem;
  margin-top: 4rem;
}

.category footer .footer-wrapper {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category footer .footer-wrapper .footer-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin-right: 4rem;
}

.category footer .footer-wrapper .footer-brand .footer-img {
  width: 8rem;
  margin-bottom: 1rem;
}

.category footer .footer-wrapper .footer-list ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.category footer .footer-wrapper .footer-list ul li {
  margin-bottom: .5rem;
}
/*# sourceMappingURL=main.css.map */