/* Global styles and variables */

$font-headline: 'Montserrat',
sans-serif;
$font-text: 'Roboto',
sans-serif;
$font-color: #293241;
$font-spacing: 0.02em;
$line-height: 1.5em;
$border-color: #3D5A80;
$border-light:#cdcdcd;
$primary-color: #EE6C4D;
$primary-color-dark:#EA461E;
$box-shadow: 6px 8px 10px 6px #dbc7ae;
$default-border: 3px outset #cdcdcd;
$thin-border: 1px outset #cdcdcd;
h1 {
    font-family: $font-headline;
    font-weight: 700;
    font-size: 3.75rem;
    color: $font-color;
    letter-spacing: $font-spacing;
}

h2 {
    font-family: $font-headline;
    font-weight: 700;
    font-size: 3rem;
    color: $font-color;
    letter-spacing: $font-spacing;
}

h3 {
    font-family: $font-headline;
    font-weight: 700;
    font-size: 2.25rem;
    color: $font-color;
    letter-spacing: $font-spacing;
}

h4 {
    font-family: $font-headline;
    font-weight: 700;
    font-size: 1.5rem;
    color: $font-color;
    letter-spacing: $font-spacing;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

strong {
    font-family: $font-text;
    font-weight: 700;
    font-size: 1rem;
    color: $font-color;
    letter-spacing: $font-spacing;
    line-height: $line-height;
}

p {
    font-family: $font-text;
    font-weight: 400;
    font-size: 1rem;
    color: $font-color;
    letter-spacing: $font-spacing;
    line-height: $line-height;
}

small {
    font-family: $font-text;
    font-weight: 400;
    font-size: 1rem;
    color: #D3D3D3;
    letter-spacing: $font-spacing;
    line-height: $line-height;
}

.btn__main {
    font-weight: 700;
    font-size: 1.125rem;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2);
    color: white;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    &:hover {
        border-color: $primary-color-dark;
        background-color: $primary-color-dark;
        color: white;
    }
    &:active {
        box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
    }
}

.btn__secondary {
    font-weight: 400;
    font-size: 1.125rem;
    background-color: white;
    border: 1px solid $border-light;
    box-shadow: inset 0 1px 0 hsl(0, 0%, 90%), 0 1px 3px hsl(0, 0%, 70%);
    color: $font-color;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    &:hover {
        border-color: $primary-color;
        box-shadow: inset 0 1px 0 hsl(12°, 83%, 65%), 0 1px 3px hsl(0, 0%, 60%);
        background-color: $primary-color;
        color: white;
    }
    &:active {
        box-shadow: inset 0 1px 0 hsl(12°, 83%, 65%), 0 0px 0px hsl(0, 0%, 60%);
    }
}

.btn {
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
    border: 1px solid $border-light;
    color: $font-color;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 9999px;
    &:hover {
        border-color: $primary-color;
        color: $primary-color;
    }
}

.tag {
    font-weight: 700;
    font-size: 0.8rem;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    color: $border-color;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 9999px;
    margin-right: 10px;
}

a {
    font-family: $font-text;
    font-size: 1rem;
    color: $primary-color;
    font-weight: 400;
    &:hover {
        color: $primary-color-dark;
    }
}


/* ------------------------------------- */


/* Styleguide local styles and variables */

$sg-container-margin: 60px;
$sg-title-color: #D3D3D3;
.sg-wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto
}

.sg-container {
    width: 100%;
    margin-top: $sg-container-margin;
    margin-bottom: $sg-container-margin;
    .sg-headline {
        font-family: $font-headline;
        font-size: 6rem;
        color: #000;
    }
    .sg-title {
        font-family: $font-headline;
        color: $sg-title-color;
    }
    hr {
        border: 1px solid $sg-title-color;
        margin-bottom: $sg-container-margin;
    }
}

.card__100 {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.card__200 {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .12);
}

.card__300 {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15), 0 3px 6px rgba(0, 0, 0, .10);
}

.card__400 {
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .15), 0 5px 10px rgba(0, 0, 0, .05);
}

.card__500 {
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

footer {
    border-top: 1px solid $border-light;
    padding: 4rem 1rem 4rem 1rem;
    margin-top: 4rem;
    .footer-wrapper {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .footer-brand {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            margin-right: 4rem;
            .footer-img {
                width: 8rem;
                margin-bottom: 1rem;
            }
        }
        .footer-list {
            ul {
                list-style: none;
                padding-inline-start: 0px;
                li {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}


/* Navigation */

.navbar a {
    display: none;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    letter-spacing: 0.2rem;
    color: $primary-color;
    font-family: $font-headline;
}

.navbar a:first-child {
    display: block;
    max-width: 120px;
}

.navbar a.icon {
    float: right;
    display: block;
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 1.4rem;
    right: 1rem;
}

.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    line-height: 2rem;
}

.logo {
    height: 60px;
    width: 120px;
}

@media only screen and (min-width: 768px) {
    .navbar {
        background-color: rgb(252, 252, 252);
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    /* Style the links inside the navigation bar */
    .navbar a {
        float: left;
        display: block;
    }
    .navbar a.icon {
        display: none;
    }
}